@model IEnumerable<MemberManagementSystem.Models.ViewModel.Patientlist>


@{
    ViewBag.Title = "Index";
}

<style>
    .DropDownList_doclist {
        width: 180px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .text {
        width: 200px;
        height: 34px;
        padding: 6px 12px;
        font-size: 20px;
        line-height: 1.42857143;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

        .text:focus {
            border-color: #66afe9;
            outline: 0;
        }

    .word, td {
        padding-left: 15px;
        font-size: 20px;
    }

    .TempData {
        font-size: 20px;
        color: blue;
        padding-top: 20px;
    }
</style>

<p class="TempData">
    @TempData["Result"]
</p>

<h1>報告分派系統</h1>

@using (Html.BeginForm("QueryReport", "Assign", FormMethod.Post))
{
    <p class="word">
        檢查流水號 :    <input type="text" name="accession_num" value="" class="text" />
        <input type="submit" name="name" value="查詢" class="btn btn-primary" />
    </p>
}

@if (ViewBag.CheckData == "ok")
{
    <table>
        <tr class="word">
            <td>病歷號</td>
            <td>姓名</td>
            <td>檢查流水號</td>
            <td>醫師帳號</td>
            <td>醫師姓名</td>
            <td>報告改分派</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessionNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
                <td>
                    @using (Html.BeginForm("UpdateDoc", "Assign", FormMethod.Post))
                    {
                        @Html.HiddenFor(modelItem => item.AccessionNum)
                        <input list="doclist" name="doclist" res class="DropDownList_doclist">
                        <input type="submit" value="分派" class="btn btn-secondary" />
                    }
                </td>
            </tr>
        }
    </table>

    <datalist id="doclist" class="test"></datalist>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script>

        $(function () {

            $.post('@Url.Action("GetDocList", "Assign")', function (res) {
                for (var i = 0; i < res.length; i++) {
                    $('#doclist').append($("<option>").attr('value', res[i].DocID + "-" + res[i].DocName));
                }
            });
        });

    </script>
}