@model IEnumerable<MemberManagementSystem.Models.PatientList>


@{
    ViewBag.Title = "Index";
}

@TempData["Result"]

<h1>報告分派系統</h1>

@Html.ActionLink("新增資料", "Create")

<style>
    .DropDownList_doclist {
        width: 120px;
    }

    .text{
          width: 100%;
          height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          border: 1px solid #ccc;
          border-radius: 4px;
    }

    .text:focus {
        border-color: #66afe9;
        outline: 0;
    }


}
</style>

@using (Html.BeginForm("QueryReport", "Assign", FormMethod.Post))
{
    <p class="word">
        檢查流水號 :    <input type="text" name="accession_num" value="" class="text"/>
        <input type="submit" name="name" value="查詢" class="btn btn-primary" />
    </p>
}



@if (ViewBag.CheckData == "ok")
{
    <table>
        <tr>
            <td>病歷號</td>
            <td>姓名</td>
            <td>檢查流水號</td>
            <td>醫師帳號</td>
            <td>醫師姓名</td>
            <td>報告改分派</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessionNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
                <td>
                    @*@Html.ActionLink("編輯", "Edit", new { accession_num = item.AccessionNum, DoctorName = item.DoctorName })
                    @Html.ActionLink("刪除", "Delete", new { accession_num = item.AccessionNum })*@

                    @using (Html.BeginForm("UpdateDoc", "Assign", FormMethod.Post))
                    {
                        @Html.HiddenFor(modelItem => item.AccessionNum)
                        <input list="doclist" name="doclist" res class="DropDownList_doclist">
                        <input type="submit" value="分派" />
                    }
                </td>
            </tr>
        }
    </table>

 

    <datalist id="doclist"></datalist>

    <script src="/Scripts/jquery-3.3.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script>

        $(function () {

            $.post('/Assign/GetDocList', function (res) {
                for (var i = 0; i < res.length; i++) {
                    $('#doclist').append($("<option>").attr('value', res[i].DocID + "-" + res[i].DocName));
                }
            });
        });
    </script>
}